<div class="schedule-item__container">
  <div class="card">
    <div class="card-img"></div>
    <div class="card-deets">
      <img [src]="book.image" />
      <div class="card-info card-type">
        <!-- <h6>{{ book.status }}</h6> -->
      </div>
      <div class="card-info card-author">
        <p>
          <strong>{{ book.title }}</strong>
        </p>
      </div>
      <div class="card-info card-title">
        <p>{{ book.author }}</p>
      </div>
      <div class="card-info card-time">
        <p>{{ book.PublicationDate }}</p>
      </div>
    </div>

    <p class="card-info card-description">
      {{ book.des }}
    </p>
    <div style="text-align: center"></div>

    <div class="card-btn status-green">
      <p>{{ book.category }}</p>
    </div>
  </div>
</div>
