.example-form{
    display: grid;
    place-content: center;
    min-height: 100vh;
}
form{
    background-color: aquamarine;
}.example-spacer {
    flex: 1 1 auto;
  }
  a, u {
    text-decoration: none;
    color: inherit;
    padding: 10px;
  }